.component {
  display: flex;
  aspect-ratio: 1;
  min-width: 1rem;
  width: 100%;
  border: 1px solid;
}

.component.isAlive {
  background-color: black;
  border-color: white;
}

.component.isDead {
  background-color: white;
  border-color: black;
}