.component {
  aspect-ratio: 1;
  display: flex;
  transition-property: background-color;
  transition: 125ms ease-out;
  width: 100%;
}

.component.isAlive {
  background-color: #000;
}

.component.isDead {
  background-color: #fff;
}
